* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cinzel;
}
html {
    background-color: rgb(255, 248, 238);
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6999), rgba(255, 255, 255, 0.075));
    width: 100%;
    position: relative;
    text-align: center;
    border-bottom: 2px solid white;
    z-index: 9999;
}
header img {
    padding: 0;
    height: 110px;
}
  
body {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-size: 100%;
    gap: 1vh;
}
   
#backgroundDiv {
    background-image: url(../images/Img-events.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
}
  /* ~~~~~~~ Nav_bar ~~~~~~~ */
  
#nav_bar ul {
    list-style-type: none;
    position: relative;
    display: flex;
}
  
#nav_bar ul li {
    width: 20%; 
}
  
#nav_bar ul li a {
    display: block;
    padding: .75em 0;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 248, 238);
}
  
#nav_bar ul ul {
    width: 98.5%;
    display: none;
    position: absolute;
    top: 100%;
    border-left: 5px solid #ffd038;
}
  
#nav_bar ul ul li a {
    text-align: left;
    padding: .75em 1em;
    background-color: rgba(0, 0, 0, 0.392);
}
  
#nav_bar ul li:hover > ul {
    display: block;
}
  
#nav_bar a:hover {
    color: black;
    background-color: #ffd038;
    font-weight: bold;
}
main {
    background-image: linear-gradient(rgba(8,13,16,255), #ffa577, white);
}
main p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 300%;
    position: relative;
}
.e {
    padding: 1.75em;
    background-color: rgba(8, 13, 16, 255);
}
.one {
      color: rgb(255, 248, 238);
      font-size: 400%;
      opacity: 50%;
      /* position: relative; */
      height: 820px;
      display: flex;
      justify-content: center;
}
.one a {
      align-self: flex-end;
      text-decoration: none;
      color: rgb(255, 255, 255);
      transform: translate(-50%, 0%);
      animation: fade_move_down 5s infinite;
      position: absolute;
      bottom: -15px;
      background-color: rgba(240, 248, 255, 0);
      border: 0px solid black;
      font-size: 140%;
      /* transition: all 300ms ease; */
      /* scroll-behavior: smooth; */
}
.one a:hover {
      font-size: 150%;
}
.one h2 {
      opacity: 0%;
} 
.row img {
    max-width: 500px;
    width: 100%; 
} 
.column img {
    margin-top: 12px;
} 
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* ============= Slideshow =============== */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagecarousel {
    position: relative;
}
.image {
    display: none;
}
.image:first-of-type {  /*first image shows - slideshow*/
    display: block;
    max-width: 1000px;
    width: 100%;
    max-height: 800px;
    height: 100%;
}
.prev, .next {
    font-size: 100%;
    position: absolute;
    top: 50%;
    color: rgb(255, 0, 0);
    background-color: rgba(128, 128, 128, 0.35);
    padding: 2vh;
    transition: all 300ms ease;
    transform: translateY(-50%);
}
.prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}
.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}
.prev:hover, .next:hover {
    background-color: rgba(182, 182, 182, 0.75);
    color: rgb(0, 0, 0);    
    font-weight: bold;
    cursor: pointer;
}
.dots {
    display: flex;
    gap: .5vw;
    margin: 0;
    justify-content: center;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: rgba(211, 211, 211, 0.3);
    padding: 0;
    border-radius: 50%;
}
.active {
    background-color: rgba(221, 221, 221, 1);

}
img {
    overflow-clip-margin: content-box;
    overflow-x: 0;
    overflow-y: 0;
}
.image img {
    border-radius: 5px;
    max-height: 600px;
    width: 100%;
}
footer {
    margin-top: auto;
    padding-bottom: 1.5em;
    padding-top: 4em;
    font-size: 100%;
    background-color: white;
    color: rgb(79, 78, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    word-spacing: 5px;
    padding-bottom: .75em;
}
footer a {
    text-decoration: none;
    padding-bottom: .2em;
    color: rgb(136, 136, 136);
}
footer a:hover {
    text-decoration: underline;
    color: black;
}